@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Lato:400italic,400,300,600,700");
h1, h2, h3, h4, h5 {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  line-height: 1.3;
  margin-top: 0;
  clear: both; }
  h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
    text-decoration: none;
    color: #005f86; }
  h1.borderless, h2.borderless, h3.borderless, h4.borderless, h5.borderless {
    border: none; }

.bucket-title {
  color: #999;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase; }

a {
  color: #00a7ec; }

p {
  font-size: 1em;
  margin-bottom: 1.5em;
  line-height: 1.7; }
  p.intro {
    font-size: 20px; }

.flat {
  margin-bottom: 0 !important; }

body {
  -webkit-font-smoothing: antialiased;
  padding-top: 80px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  background: #f6f6f6; }

.btn {
  border: none;
  border-radius: 3px;
  padding: 10px 15px; }
  .btn i {
    font-size: 0.65em;
    top: 0; }

.btn-lg {
  font-size: 17px;
  padding: 15px 28px;
  border-radius: 3px;
  font-weight: bold;
  text-shadow: none; }

.btn-primary {
  background: #ff7b00;
  border-color: #ff7b00;
  text-shadow: none; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #ff881a; }

.btn-default {
  background: transparent;
  border: 2px solid white;
  color: white; }
  .btn-default:hover {
    background: white;
    color: #00a7ec;
    border-color: white; }

.img-thumbnail {
  cursor: default; }

.alignleft {
  float: left;
  border: 8px solid white;
  margin: 0 20px 10px 0; }

.alignright {
  float: right;
  border: 8px solid white;
  margin: 0 0 10px 20px; }

.size-full, .size-large {
  border: 8px solid white;
  margin: 0 0 20px;
  max-width: 100%;
  height: auto; }

.well {
  box-shadow: none;
  border-radius: 0;
  border: none; }
  .well address {
    margin: 0; }

form .control-label {
  font-size: 15px; }
form .form-control {
  border-radius: 0;
  background: white;
  border-color: 1px solid #dadada;
  box-shadow: none;
  color: #212121;
  padding: 6px 8px;
  font-weight: normal; }
form .placeholder {
  color: #aaaaaa; }
form label.error {
  font-size: 14px;
  font-weight: normal; }
form input[type="tel"] {
  -webkit-user-select: none; }
form select.form-control {
  -webkit-appearance: none;
  background: white url("../images/dd-arrow.jpg") 97% 13px no-repeat;
  background-size: 8px 12px;
  border: 1px solid #dadada;
  border-radius: 0;
  color: #999;
  font-weight: normal; }
  form select.form-control.hot {
    border-color: #00a7ec;
    box-shadow: 0 0 15px white;
    outline: 1px; }
  form select.form-control.valid {
    color: #212121; }
form.intake-form .form-group {
  position: relative;
  margin-bottom: 6px; }
  form.intake-form .form-group .form-control {
    border-color: #333;
    height: 40px; }
  form.intake-form .form-group .col-sm-6.left {
    padding-right: 3px;
    position: relative; }
  form.intake-form .form-group .col-sm-6.right {
    padding-left: 3px;
    position: relative; }
    form.intake-form .form-group .col-sm-6.right label.error {
      right: 15px; }

.img-thumbnail {
  border-radius: 2px;
  border-color: #efefef; }

.flat {
  margin: 0; }

.panel-group .panel {
  border-radius: 2px;
  margin-bottom: 1em;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  border: none; }
  .panel-group .panel .panel-heading {
    background: white;
    border: none; }
    .panel-group .panel .panel-heading .panel-title {
      padding: 4px 0; }
      .panel-group .panel .panel-heading .panel-title a {
        font-size: 1em;
        line-height: 1.5;
        text-shadow: none;
        font-weight: normal; }
        .panel-group .panel .panel-heading .panel-title a .glyphicon {
          color: #666;
          font-size: 0.75em;
          margin-right: 10px; }
        .panel-group .panel .panel-heading .panel-title a .glyphicon-minus {
          display: inline-block; }
        .panel-group .panel .panel-heading .panel-title a .glyphicon-plus {
          display: none; }
        .panel-group .panel .panel-heading .panel-title a.collapsed .glyphicon-plus {
          display: inline-block; }
        .panel-group .panel .panel-heading .panel-title a.collapsed .glyphicon-minus {
          display: none; }
  .panel-group .panel .panel-collapse .panel-body {
    border-top: 1px dotted #efefef;
    background: white;
    font-size: 14px;
    line-height: 1.6;
    padding: 10px 15px 15px;
    text-shadow: none;
    color: #212121; }
    .panel-group .panel .panel-collapse .panel-body p {
      margin-bottom: 0;
      font-weight: normal;
      text-shadow: none; }

.carousel-fade .carousel-inner {
  background: #000; }
.carousel-fade .carousel-control {
  z-index: 2; }
.carousel-fade .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity; }
.carousel-fade .next.left, .carousel-fade .prev.right, .carousel-fade .item.active {
  opacity: 1; }
.carousel-fade .active.left, .carousel-fade .active.right {
  left: 0;
  opacity: 0;
  z-index: 1; }

/* Safari Fix */
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next, .carousel-fade .carousel-inner > .item.active.right, .carousel-fade .carousel-inner > .item.prev, .carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .carousel-fade .carousel-inner > .item.next.left, .carousel-fade .carousel-inner > .item.prev.right, .carousel-fade .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
/* Carousel Control custom */
.carousel-control .control-icon {
  font-size: 48px;
  height: 30px;
  margin-top: -15px;
  width: 30px;
  display: inline-block;
  position: absolute;
  top: 50%;
  z-index: 5; }
.carousel-control .prev {
  margin-left: -15px;
  left: 50%; }
.carousel-control .next {
  margin-right: -15px;
  right: 50%; }

/* Prev */
/* Next */
/* Removing BS background */
.carousel .control-box {
  opacity: 0; }

a.carousel-control.left {
  left: 0;
  border: 0; }
a.carousel-control.right {
  right: 0;
  border: 0; }

/* Animation */
.control-box, a.carousel-control, .carousel-indicators li {
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease; }

.carousel:hover .control-box {
  opacity: 1; }

.carousel-indicators li {
  border: 0;
  background: #666;
  margin: 0 3px;
  width: 12px;
  height: 12px; }
  .carousel-indicators li.active {
    border: 0;
    background: #fff;
    margin: 0 3px; }

.navbar-default {
  height: 80px;
  background: white;
  border: none;
  border-bottom: 1px solid #efefef; }
  .navbar-default .navbar-header .navbar-brand {
    padding: 0 15px;
    margin-left: 0;
    text-indent: -9999px;
    width: 180px;
    height: 80px;
    background: url("../images/eventlm-logo-new-2x.jpg") center 18px no-repeat;
    background-size: 160px auto; }
  .navbar-default .navbar-collapse {
    margin: 26px 0; }
    .navbar-default .navbar-collapse .navbar-nav li a {
      color: #444444;
      font-size: 16px;
      padding: 15px 20px;
      border-radius: 40px;
      font-weight: normal; }
      .navbar-default .navbar-collapse .navbar-nav li a:hover {
        color: #00a7ec; }
    .navbar-default .navbar-collapse .navbar-nav li.active a {
      background: transparent; }
  .navbar-default .telephone {
    float: right;
    margin: 8px 0 0 20px; }
    .navbar-default .telephone .navbar-nav {
      margin: 0; }
      .navbar-default .telephone .navbar-nav li {
        padding: 10px;
        color: #444444;
        font-size: 13px;
        text-align: center; }
        .navbar-default .telephone .navbar-nav li em {
          font-style: normal;
          font-weight: bold;
          color: #212121;
          display: block;
          font-size: 19px;
          vertical-align: baseline;
          margin-bottom: -4px; }

body.home section {
  padding: 4em 0; }
  body.home section h1, body.home section h2 {
    text-align: center; }
  body.home section h1 {
    margin-bottom: 2em;
    font-size: 48px; }
  body.home section.light {
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
  body.home section.lightGrey {
    background: #f1f1f1; }
  body.home section .call {
    text-align: center;
    padding-top: 10px; }
  body.home section .or {
    line-height: 64px; }
  body.home section .call {
    padding-top: 26px;
    font-size: 22px; }
    body.home section .call .or {
      display: inline-block;
      vertical-align: middle;
      margin: 0 20px;
      font-size: 16px; }
    body.home section .call .btn-primary {
      margin: 0;
      font-size: 16px;
      padding: 14px 40px;
      vertical-align: middle; }
body.home .hero {
  position: relative;
  padding: 0;
  background: #f9f9f9;
  background-size: cover;
  height: auto; }
  body.home .hero .carousel-fade .caption {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.6); }
  body.home .hero .carousel-fade .carousel-control.left {
    display: none; }
  body.home .hero .carousel-fade .carousel-inner {
    background: #f9f9f9; }
  body.home .hero .carousel-fade .item {
    padding: 2em 0; }
    body.home .hero .carousel-fade .item.stadium {
      background: url("../images/hero-split-lightgrey.jpg") 50% 100% no-repeat;
      background-size: cover; }
      body.home .hero .carousel-fade .item.stadium .caption {
        background: rgba(0, 0, 0, 0.4); }
    body.home .hero .carousel-fade .item.levis {
      background: url("../images/levis-stadium-split.jpg") 50% 100% no-repeat;
      background-size: cover; }
    body.home .hero .carousel-fade .item.oracle {
      background: url("../images/oracle-racing.jpg") 50% 100% no-repeat;
      background-size: cover; }
    body.home .hero .carousel-fade .item.dreamforce {
      background: url("../images/dreamforce-split.jpg") 50% 100% no-repeat;
      background-size: cover; }
  body.home .hero h1 {
    text-align: center;
    font-weight: 100;
    font-size: 38px;
    margin: 20px 0 30px;
    color: #212121;
    text-shadow: none; }
  body.home .hero p {
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.4;
    margin: 0 0 10px; }
  body.home .hero ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 30px 10px;
    display: inline-block; }
    body.home .hero ul li {
      font-size: 20px;
      text-align: left;
      margin-bottom: 15px;
      color: #212121;
      text-shadow: none; }
      body.home .hero ul li i {
        font-size: 0.75em;
        margin-right: 4px; }
  body.home .hero .btn-primary {
    margin-bottom: 40px; }
body.home .logos {
  padding: 1.5em 0;
  border-bottom: 1px solid #dadada; }
  body.home .logos .col-sm-2 {
    text-align: center;
    float: none;
    display: inline-block;
    vertical-align: middle;
    width: 16.1%; }
  body.home .logos img {
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    height: auto; }
  body.home .logos .ea img {
    width: 50px; }
  body.home .logos .pge img {
    width: 36px; }
  body.home .logos .levis img {
    width: 50px; }
  body.home .logos .livenation img {
    width: 100px; }
  body.home .logos .clients {
    text-transform: uppercase;
    color: #777;
    line-height: 42px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 100; }
body.home .services h1 {
  margin-bottom: 30px; }
body.home .services .nav-tabs li {
  width: 20%; }
  body.home .services .nav-tabs li a {
    background: #f5f5f5;
    border-radius: 0;
    text-align: center;
    font-size: 15px;
    padding: 18px 15px;
    border: 1px solid #dadada;
    color: #212121; }
    body.home .services .nav-tabs li a:hover {
      border: 1px solid #dadada;
      background: #fcfcfc; }
  body.home .services .nav-tabs li.active a {
    background: white;
    border-bottom-color: transparent; }
    body.home .services .nav-tabs li.active a:hover {
      border-bottom-color: transparent; }
body.home .services .tab-pane {
  background: white;
  border: 1px solid #ddd;
  border-top: none;
  padding: 2em 0; }
  body.home .services .tab-pane h2 {
    margin-top: 20px;
    font-size: 36px;
    text-align: left; }
  body.home .services .tab-pane p {
    font-size: 16px;
    line-height: 1.6; }
  body.home .services .tab-pane ul {
    margin: 0 0 30px 30px;
    list-style-position: outside;
    padding: 0; }
    body.home .services .tab-pane ul li {
      text-align: left;
      font-size: 16px;
      margin-bottom: 10px; }
  body.home .services .tab-pane img {
    display: inline-block;
    margin: 60px 0 0 0; }
  body.home .services .tab-pane .btn-default {
    color: #00a7ec; }
    body.home .services .tab-pane .btn-default:hover {
      color: #20beff; }
  body.home .services .tab-pane .col-sm-5 {
    text-align: center; }
  body.home .services .tab-pane.parking img {
    max-width: 110%; }
  body.home .services .tab-pane.traffic img {
    max-width: 110%;
    margin-top: 45px; }
  body.home .services .tab-pane.vehicle img {
    max-width: 110%; }
  body.home .services .tab-pane.planning img {
    width: 320px; }
body.home .events h1 {
  margin-bottom: 1em; }
body.home .events img {
  max-width: 330px; }
body.home .events ul {
  overflow: auto; }
  body.home .events ul li {
    float: left;
    width: 50%;
    font-size: 18px; }
body.home .events .btn-default {
  border: none;
  background: transparent;
  color: #00a7ec; }
  body.home .events .btn-default:hover {
    border: none;
    background: transparent;
    color: #0083b9;
    text-decoration: underline; }
body.home .testimonials {
  background: -webkit-radial-gradient(closest-corner, rgba(16, 47, 70, 0) 60%, rgba(16, 47, 70, 0.26)), -webkit-linear-gradient(108deg, #333333, #555555 90%); }
  body.home .testimonials .thumbnail {
    position: relative;
    height: 130px;
    width: auto;
    display: inline-block;
    border-radius: 100px;
    border-color: white;
    border-width: 2px; }
  body.home .testimonials h1 {
    margin-bottom: 40px; }
    body.home .testimonials h1 i {
      font-size: 0.8em;
      margin: 0 8px 0 4px; }
  body.home .testimonials h2 {
    font-weight: normal;
    font-size: 18px;
    margin: 0 0 20px; }
  body.home .testimonials blockquote {
    display: inline-block;
    position: relative;
    border-radius: 2px;
    padding: 0 20px 15px;
    font-family: Georgia, serif;
    font-style: italic;
    color: white;
    border: none;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 30px;
    clear: both; }
    body.home .testimonials blockquote:before {
      content: "“";
      display: inline-block;
      position: relative;
      font-size: 60px;
      color: rgba(255, 255, 255, 0.2);
      line-height: 1; }
    body.home .testimonials blockquote small {
      margin-top: 10px;
      font-size: 14px;
      white-space: nowrap;
      font-style: normal;
      font-weight: bold;
      font-family: "Open Sans", sans-serif;
      color: white; }
      body.home .testimonials blockquote small strong {
        display: block;
        white-space: normal;
        color: #212121; }
    body.home .testimonials blockquote img {
      height: 20px;
      width: auto; }

.breadcrumb {
  background: transparent;
  padding: 0;
  margin: 0 0 1em; }
  .breadcrumb li {
    margin: 0;
    font-size: 14px; }
  .breadcrumb .divider {
    color: #ccc;
    font-size: 14px; }

body.single-post .widget.about {
  display: none; }

.widget {
  margin: 0 0 40px; }
  .widget.about {
    margin-top: -5px; }
  .widget.quick-quote {
    border: 1px solid #efefef;
    background: #f5f5f5;
    padding: 10px;
    margin-top: 10px; }
    .widget.quick-quote legend {
      border: none;
      text-align: center;
      letter-spacing: 1px;
      margin: 10px 0;
      text-transform: uppercase;
      font-size: 16px; }
    .widget.quick-quote .form-control {
      font-size: 14px;
      padding-left: 8px !important;
      border-color: #dadada !important; }
    .widget.quick-quote .btn-primary {
      padding: 12px 20px;
      font-size: 14px; }
  .widget ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .widget ul li {
      margin-bottom: 0; }
      .widget ul li .glyphicon {
        font-size: 0.75em;
        top: 0;
        margin-right: 6px; }
      .widget ul li .glyphicon-minus {
        display: none; }
      .widget ul li a {
        padding: 5px 0;
        text-transform: none;
        display: inline-block;
        clear: both;
        font-size: 16px; }
      .widget ul li.contact-us {
        display: none; }
      .widget ul li.current_page_item .glyphicon-minus {
        display: inline-block; }
      .widget ul li.current_page_item .glyphicon-plus {
        display: none; }
      .widget ul li.current_page_item > a {
        font-weight: bold; }
      .widget ul li.current_page_ancestor .glyphicon-minus {
        display: inline-block; }
      .widget ul li.current_page_ancestor .glyphicon-plus {
        display: none; }
      .widget ul li.current_page_ancestor > a {
        font-weight: normal; }
      .widget ul li .sub-menu {
        margin: 0 0 10px;
        padding: 0 0 0 10px;
        list-style-type: none;
        display: none; }
        .widget ul li .sub-menu li {
          font-size: 14px;
          color: #999; }
          .widget ul li .sub-menu li .glyphicon {
            display: none; }
          .widget ul li .sub-menu li a {
            font-size: 14px;
            text-transform: none;
            color: #666; }
      .widget ul li.current-menu-item > .sub-menu, .widget ul li.current_page_ancestor > .sub-menu {
        display: block; }

.rfp form legend {
  margin: 40px 0 10px;
  font-size: 16px;
  padding: 0 0 5px; }
.rfp form .radio {
  margin-bottom: 10px;
  line-height: 1.6; }

section {
  padding: 2em 0; }
  section .subhead {
    font-weight: 600;
    font-size: 24px; }
    section .subhead small {
      font-size: 16px;
      margin-left: 10px; }
  section h3 {
    margin-bottom: 20px; }
  section ul {
    margin: 0 0 30px; }
    section ul li {
      margin-bottom: 1em;
      line-height: 1.7; }
  section article h3 {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 20px; }
  section article .video-wrapper {
    padding: 6px;
    border: 1px solid #efefef;
    background: #f5f5f5;
    margin-bottom: 30px; }

.page-title {
  margin: 0 0 30px;
  padding-bottom: 8px;
  border-bottom: 3px solid #efefef; }

.light {
  color: white; }

.microhero {
  box-shadow: inset 0 -1px 8px rgba(0, 0, 0, 0.5);
  padding: 0;
  height: 300px;
  background-color: #212121;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  .microhero h2, .microhero h1 {
    font-size: 48px;
    line-height: 300px;
    margin: 0; }

.standard {
  padding-top: 2em; }
  .standard header .btn-primary {
    position: absolute;
    top: 0;
    right: 15px; }
  .standard h2 i, .standard h3 i {
    font-size: 0.65em;
    top: 0;
    margin-right: 3px; }
  .standard .glyphicon.icon {
    float: right;
    border-radius: 50%;
    border: 1px solid #dadada;
    width: 100px;
    height: 100px;
    background: white;
    font-size: 36px;
    line-height: 90px;
    text-align: center;
    color: #777;
    margin: 0 0 15px 15px; }
  .standard table tr td {
    padding: 6px 10px;
    font-size: 14px; }

.gallery.gallery-size-thumbnail .gallery-item {
  float: left;
  border: 1px solid #f1f1f1;
  padding: 6px;
  max-width: 164px;
  height: auto;
  margin: 0 20px 20px 0;
  font-size: 13px;
  text-align: center; }
  .gallery.gallery-size-thumbnail .gallery-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 5px; }

.testimonial-quotes blockquote {
  font-style: italic;
  border: none;
  line-height: 1.7;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 20px;
  position: relative; }
  .testimonial-quotes blockquote:before {
    content: "“";
    font-family: Georgia, sans-serif;
    display: block;
    position: absolute;
    top: 0px;
    left: 10px;
    font-size: 60px;
    color: rgba(0, 0, 0, 0.2);
    line-height: 1;
    margin-left: -24px; }
  .testimonial-quotes blockquote small {
    display: block;
    text-align: right;
    font-size: 0.9em;
    line-height: 1.7;
    font-style: normal;
    color: #212121;
    font-weight: 600; }

.awards article {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f1f1f1; }
  .awards article .img-thumbnail {
    width: 100%;
    height: auto;
    max-width: 100%; }
  .awards article h2 {
    font-size: 24px; }
  .awards article p {
    font-size: 14px;
    margin: 0; }

.press-hits article {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f1f1f1; }
  .press-hits article h2 {
    margin: 0 0 10px;
    font-size: 20px;
    font-weight: normal; }
    .press-hits article h2 small {
      margin-left: 10px;
      font-size: 14px; }
  .press-hits article p {
    font-size: 14px;
    margin: 0; }
  .press-hits article img {
    border: none; }

.press-releases {
  padding-top: 0; }
  .press-releases article {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #f1f1f1; }
  .press-releases .date {
    display: block;
    margin-top: 5px;
    text-transform: uppercase;
    color: #999; }

.leadership article {
  margin-bottom: 40px; }
.leadership p {
  border-bottom: 1px solid #efefef;
  margin-bottom: 10px;
  padding-bottom: 10px; }
.leadership .social-profile {
  font-size: 14px;
  text-align: right; }
.leadership .linkedin-icon {
  margin: 0 2px 0 0;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  background: url("../images/linkedin-icon.jpg") center center no-repeat;
  background-size: 18px auto; }

.contact .table {
  background: white; }
.contact .google-map {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
  margin-bottom: 20px; }
  .contact .google-map iframe {
    background: white;
    padding: 6px;
    position: absolute;
    border: 1px solid #ddd !important;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important; }
.contact .form .frm_form_fields {
  margin: 0; }
.contact .form .form-control {
  height: 40px;
  font-size: 15px;
  color: #212121; }
.contact .form textarea.form-control {
  height: 127px; }
.contact .form .btn {
  width: 100%;
  background: #ff7b00; }
.contact .well {
  margin-bottom: 10px; }
  .contact .well hr {
    margin: 10px 0; }
.contact address span {
  display: block; }
.contact address.details span {
  margin-bottom: 10px; }

.footer {
  padding: 3em 0 2em;
  margin-top: 0;
  background: #212121;
  border: none;
  color: #f1f1f1; }
  .footer .footer-links {
    margin-bottom: 20px; }
  .footer .footer-bucket {
    padding: 0; }
    .footer .footer-bucket li {
      display: block;
      margin-bottom: 15px; }
      .footer .footer-bucket li a {
        color: #f1f1f1;
        font-size: 14px; }
    .footer .footer-bucket .sub-menu {
      display: none;
      margin-top: 8px;
      padding: 0; }
  .footer .copyright {
    text-align: center;
    color: #999;
    font-size: 13px; }
    .footer .copyright a {
      color: #999; }
  .footer ul.social-media {
    margin: 20px 0 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    text-align: center;
    overflow: auto; }
    .footer ul.social-media li {
      display: inline-block; }
      .footer ul.social-media li a {
        text-indent: -9999px;
        width: 28px;
        height: 28px;
        display: block;
        margin: 0 5px 0 0;
        background-position: center center;
        background-repeat: no-repeat;
        opacity: 1; }
        .footer ul.social-media li a:hover {
          opacity: 0.65; }
      .footer ul.social-media li.facebook a {
        background-image: url("../images/facebook-icon.png");
        background-size: 8px 18px; }
      .footer ul.social-media li.twitter a {
        background-image: url("../images/twitter-icon.png");
        background-size: 18px 15px; }
      .footer ul.social-media li.linkedin a {
        background-image: url("../images/linkedin-icon.png");
        background-size: 18px 18px; }
      .footer ul.social-media li.email a {
        background-image: url("../images/email-icon.png");
        background-size: auto 13px; }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  header .navbar-default .navbar-collapse {
    margin-top: 0px;
    padding-right: 0; }
    header .navbar-default .navbar-collapse .navbar-nav li a {
      padding: 12px 15px; }
    header .navbar-default .navbar-collapse .navbar-nav li.contact a {
      padding-right: 0; }
  header .navbar-default .telephone {
    float: right;
    display: block;
    margin-top: 15px; }
    header .navbar-default .telephone .navbar-nav {
      float: none; }
      header .navbar-default .telephone .navbar-nav li {
        text-align: center;
        padding: 0;
        font-size: 16px;
        float: none;
        display: block; }
        header .navbar-default .telephone .navbar-nav li em {
          display: inline-block;
          font-size: 16px; }

  body.home .hero h1 {
    font-size: 24px;
    margin-top: 30px; }
  body.home .hero h2 {
    font-size: 18px; }
  body.home .hero ul {
    padding-left: 25px; }
    body.home .hero ul li {
      font-size: 18px; }
  body.home .logos {
    padding-top: 10px; }
  body.home .benefits h1 {
    margin-bottom: 1em; }
  body.home .testimonials .thumbnail {
    margin-bottom: 0;
    height: 100px; }
  body.home .testimonials blockquote {
    display: block;
    font-size: 14px;
    padding: 0;
    margin-top: -20px; }
    body.home .testimonials blockquote small {
      font-size: 13px; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  header .navbar-default .navbar-collapse {
    margin-top: 0px;
    clear: right; }
    header .navbar-default .navbar-collapse .navbar-nav li a {
      padding: 12px 15px; }
    header .navbar-default .navbar-collapse .navbar-nav li.contact a {
      padding-right: 0; }
  header .navbar-default .telephone {
    float: right;
    display: block;
    margin-top: 15px; }
    header .navbar-default .telephone .navbar-nav {
      float: none; }
      header .navbar-default .telephone .navbar-nav li {
        text-align: center;
        padding: 0;
        font-size: 16px;
        float: none;
        display: block; }
        header .navbar-default .telephone .navbar-nav li em {
          display: inline-block;
          font-size: 16px; } }
@media screen and (max-width: 767px) {
  body {
    padding: 0; }
    body p, body ul li {
      font-size: 14px; }
    body .btn-primary {
      font-size: 15px;
      padding: 14px 20px;
      margin-bottom: 20px; }
    body section ul {
      padding-left: 20px; }
    body section .alignleft {
      display: block;
      float: none;
      margin: 0 auto 20px;
      border: 1px solid #efefef;
      background: #f5f5f5;
      padding: 6px; }
    body section .alignright {
      display: block;
      float: none;
      margin: 0 auto 20px;
      border: 1px solid #efefef;
      background: #f5f5f5;
      padding: 6px; }
    body section .size-full, body section .size-large {
      border: 1px solid #efefef;
      background: #f5f5f5;
      margin: 0 0 20px;
      padding: 6px;
      max-width: 100%;
      height: auto; }

  header .navbar-default {
    position: static;
    margin: 0;
    height: auto; }
    header .navbar-default .navbar-header .navbar-brand {
      width: 120px;
      height: 60px;
      background-size: 100px auto; }
    header .navbar-default .navbar-header .navbar-toggle {
      border: none;
      background: transparent;
      margin: 0 5px 0 0; }
      header .navbar-default .navbar-header .navbar-toggle .text {
        font-size: 10px;
        text-transform: uppercase; }
      header .navbar-default .navbar-header .navbar-toggle .icon-bar {
        background: #545454;
        height: 3px;
        width: 28px;
        border-radius: 0; }
    header .navbar-default .navbar-collapse {
      float: none !important;
      margin: 0; }
      header .navbar-default .navbar-collapse .navbar-nav {
        overflow: auto; }
        header .navbar-default .navbar-collapse .navbar-nav li {
          float: left;
          display: block;
          width: 50%;
          text-align: center; }
          header .navbar-default .navbar-collapse .navbar-nav li a {
            padding: 10px 15px; }
          header .navbar-default .navbar-collapse .navbar-nav li.contact {
            clear: both;
            float: none;
            width: 100%; }
            header .navbar-default .navbar-collapse .navbar-nav li.contact a {
              border-top: 1px solid #f1f1f1; }
    header .navbar-default .telephone {
      float: none;
      display: block;
      clear: both; }
      header .navbar-default .telephone .navbar-nav li {
        padding: 5px 0;
        float: none;
        display: block;
        text-align: center;
        font-size: 17px; }
        header .navbar-default .telephone .navbar-nav li em {
          display: inline-block;
          font-size: 17px; }

  body.home section {
    padding: 2.5em 0; }
    body.home section h1 {
      font-size: 24px;
      margin-bottom: 1em; }
  body.home .hero {
    background-image: url("../images/blue-bridge-mobile.jpg"); }
    body.home .hero h1 {
      margin-top: 0;
      font-size: 20px; }
    body.home .hero ul {
      margin: 0 0 0 20px;
      padding: 0; }
      body.home .hero ul li {
        font-size: 18px; }
    body.home .hero .quick-quote {
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      display: none; }
      body.home .hero .quick-quote.active {
        opacity: 1;
        display: block; }
    body.home .hero .card {
      margin: 0;
      padding: 10px; }
      body.home .hero .card form.intake-form .form-group {
        margin-bottom: 8px; }
        body.home .hero .card form.intake-form .form-group.row {
          margin: 0; }
        body.home .hero .card form.intake-form .form-group .col-sm-6.left, body.home .hero .card form.intake-form .form-group .col-sm-6.right {
          padding: 0; }
          body.home .hero .card form.intake-form .form-group .col-sm-6.left .form-control, body.home .hero .card form.intake-form .form-group .col-sm-6.right .form-control {
            margin-bottom: 8px; }
  body.home .logos .col-sm-2 {
    width: 49%; }
    body.home .logos .col-sm-2 img {
      margin-bottom: 20px; }
  body.home .logos .clients {
    margin-bottom: 20px; }
  body.home .features .nav-tabs li a {
    height: 72px;
    font-size: 13px; }
  body.home .features .tab-content .tab-pane {
    padding: 30px 15px; }
    body.home .features .tab-content .tab-pane .col-sm-12, body.home .features .tab-content .tab-pane .col-lg-6 {
      padding: 0 15px; }
      body.home .features .tab-content .tab-pane .col-sm-12 h2, body.home .features .tab-content .tab-pane .col-lg-6 h2 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px; }
      body.home .features .tab-content .tab-pane .col-sm-12 .btn-primary, body.home .features .tab-content .tab-pane .col-lg-6 .btn-primary {
        padding: 16px;
        font-size: 13px;
        width: 100%; }
      body.home .features .tab-content .tab-pane .col-sm-12 p, body.home .features .tab-content .tab-pane .col-lg-6 p {
        margin-bottom: 20px; }
  body.home .testimonials .btn-default {
    font-size: 14px; }
  body.home .testimonials blockquote {
    padding: 0 0 15px; }
    body.home .testimonials blockquote small {
      white-space: normal; }
  body.home .benefits h2 {
    font-size: 17px; }
  body.home .benefits p {
    padding-bottom: 15px;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 20px; }
  body.home .benefits .btn-primary {
    font-size: 14px;
    width: 100%; }
  body.home .faq .panel-group {
    margin-bottom: 1em; }
    body.home .faq .panel-group .panel {
      margin-bottom: 0.65em; }
      body.home .faq .panel-group .panel .panel-heading {
        padding: 4px 8px; }
        body.home .faq .panel-group .panel .panel-heading .panel-title a {
          font-size: 14px; }
          body.home .faq .panel-group .panel .panel-heading .panel-title a .glyphicon {
            margin-right: 0;
            font-size: 9px;
            top: -1px; }
  body.home .faq .btn-default {
    font-size: 14px;
    width: 100%; }

  .footer .bucket .bucket-title {
    text-align: center;
    font-size: 19px; }
  .footer .bucket .footer-bucket {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.08);
    margin-bottom: 20px; }
    .footer .bucket .footer-bucket li {
      text-align: center;
      margin-bottom: 10px; }
      .footer .bucket .footer-bucket li a {
        font-size: 16px; }

  .standard {
    padding-top: 1em; }

  h1.page-title {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center; }

  h1.entry-title {
    font-size: 22px;
    margin-bottom: 0;
    text-align: left; }

  h2 {
    font-size: 18px; }

  .subhead {
    font-size: 18px; }

  .microhero {
    height: 150px;
    background-color: #212121;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
    .microhero h2, .microhero h1 {
      font-size: 32px;
      line-height: 150px;
      margin: 0;
      white-space: nowrap; }

  .bar {
    clear: both;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #f1f1f1; }
    .bar .btn-primary {
      margin: 0; }

  .widget {
    margin: 0 0 20px; }
    .widget .footer-bucket {
      overflow: auto; }
      .widget .footer-bucket li {
        text-align: center;
        float: left;
        width: 50%; }
        .widget .footer-bucket li.current-menu-item > .sub-menu, .widget .footer-bucket li.current-menu-ancestor > .sub-menu {
          display: none; }
        .widget .footer-bucket li a {
          font-size: 14px; }

  .quick-quote {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: none; }
    .quick-quote.active {
      opacity: 1;
      display: block; }

  .breadcrumb {
    display: none; }

  .leadership .social-profile {
    margin-bottom: 20px; }
  .leadership article {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #f1f1f1; }

  body.page-id-181 .bar .about, body.page-id-225 .bar .about {
    display: none; }

  body.page-template-about-php .bar .visible-xs {
    display: none !important; }
  body.page-template-about-php .bar .about {
    margin-bottom: 0; } }
