.footer
	margin-top: 0
	background: $darkGrey
	border: none
	color: $lightGrey
	.footer-links
		margin-bottom: 20px
	.footer-bucket
		padding: 0
		li
			display: block
			margin-bottom: 8px
			a
				color: $lightGrey
				font-size: 14px
		.sub-menu
			display: none
			margin-top: 8px
			padding: 0
	.copyright
		text-align: center
		color: #999
		font-size: 13px
		a
			color: #999
