.navbar-default
	height: $navbarHeight
	background: white
	border: none
	border-bottom: 1px solid #efefef
	//box-shadow: 0 1px 3px rgba(0, 0, 0, .08)
	.navbar-header
		.navbar-brand
			padding: 0 15px
			margin-left: 0
			text-indent: -9999px
			width: 180px
			height: $navbarHeight
			background: url('../images/eventlm-logo-new-2x.jpg') center 18px no-repeat
			background-size: 160px auto
	.navbar-collapse
		margin: 18px 0
		.navbar-nav
			li
				a
					color: $midGrey
					font-size: 16px
					padding: 15px 20px
					border-radius: 40px
					font-weight: normal
					&:hover
						color: $blue
				&.active
					a
						background: transparent
	.telephone
		float: right
		margin: 0 0 0 20px
		.navbar-nav
			margin: 0
			li
				padding: 10px
				color: $midGrey
				font-size: 13px
				text-align: center
				em
					font-style: normal
					font-weight: bold
					color: $blue
					display: block
					font-size: 19px
					vertical-align: baseline
					margin-bottom: -4px