.navbar-default
	height: $navbarHeight
	background: white
	border: none
	box-shadow: 0 1px 3px rgba(0, 0, 0, .08)
	.navbar-header
		.navbar-brand
			padding: 0 15px
			margin-left: 0
			text-indent: -9999px
			width: 180px
			height: $navbarHeight - 10px
			background: url('../images/eventlm-logo-new-2x.jpg') center 14px no-repeat
			background-size: 160px auto
	.navbar-collapse
		margin: 12px 0 10px
		.navbar-nav
			li
				a
					color: $midGrey
					font-size: 15px
					padding: 15px 20px
					border-radius: 40px
					font-weight: normal
					&:hover
						background: rgba(0, 0, 0, .04)
				&.active
					a
						background: transparent
	.telephone
		float: right
		margin: 0
		.navbar-nav
			margin: 0 0 10px
			li
				padding: 13px 20px
				color: $midGrey
				font-size: 14px
				text-align: center
				em
					font-style: normal
					font-weight: bold
					color: $blue
					display: block
					font-size: 19px
					vertical-align: baseline
					margin-bottom: -4px