body.home
	section
		padding: 4em 0
		h1, h2
			text-align: center
		h1
			margin-bottom: 2em
			font-size: 48px
		&.light
			color: white
			text-shadow: 0 1px 2px rgba(0,0,0,0.2)
		&.lightGrey
			background: $lightGrey
		.call
			text-align: center
			padding-top: 10px
		.or
			line-height: 64px
		.call
			padding-top: 26px
			font-size: 22px
			.or
				display: inline-block
				vertical-align: middle
				margin: 0 20px
				font-size: 16px
			.btn-primary
				margin: 0
				font-size: 16px
				padding: 14px 40px
				vertical-align: middle
	.hero
		position: relative
		padding: 0
		background: #f9f9f9
		//background: url('../images/hero-split-lightgrey.jpg') 50% 100% no-repeat
		background-size: cover
		height: auto
		.carousel-fade
			.caption
				display: block
				position: absolute
				left: 0
				right: 0
				bottom: 0
				padding: 20px 0
				text-align: center
				font-weight: 600
				background: rgba(0, 0, 0, .6)
			.carousel-control
				&.left
					display: none
			.carousel-inner
				background: #f9f9f9
			.item
				padding: 2em 0
				&.stadium
					.caption
						background: rgba(0, 0, 0, .4)
					background: url('../images/hero-split-lightgrey.jpg') 50% 100% no-repeat
					background-size: cover
				&.levis
					background: url('../images/levis-stadium-split.jpg') 50% 100% no-repeat
					background-size: cover
				&.oracle
					background: url('../images/oracle-racing.jpg') 50% 100% no-repeat
					background-size: cover
				&.dreamforce
					background: url('../images/dreamforce-split-2.jpg') 50% 100% no-repeat
					background-size: cover
				&.marathon
					background: url('../images/marathon-split.jpg') 50% 100% no-repeat
					background-size: cover
		h1
			text-align: center
			font-weight: 100
			font-size: 40px
			margin: 20px 0 30px
			color: $black
			text-shadow: none
		p
			text-align: center
			font-weight: normal
			font-size: 20px
			line-height: 1.4
			margin: 0 0 10px
		ul
			list-style-type: none
			padding: 0
			margin: 0 0 30px 10px
			display: inline-block
			li
				font-size: 20px
				text-align: left
				margin-bottom: 15px
				color: $black
				text-shadow: none
				i
					font-size: .75em
					margin-right: 4px
		.btn-primary
			margin-bottom: 40px
		

	.logos
		padding: 1.5em 0
		border-bottom: 1px solid #dadada
		.col-sm-2
			text-align: center
			float: none
			display: inline-block
			vertical-align: middle
			width: 16.1%
		img
			display: inline-block
			vertical-align: middle
			width: 80px
			height: auto
		.ea
			img
				width: 50px
		.pge
			img
				width: 36px
		.levis
			img
				width: 50px
		.livenation
			img
				width: 100px
		.clients
			text-transform: uppercase
			color: #777
			line-height: 42px
			font-size: 18px
			letter-spacing: 1px
			font-weight: 100

	.services
		h1
			margin-bottom: 30px
		.nav-tabs
			li
				width: 20%
				a
					background: #f5f5f5
					border-radius: 0
					text-align: center
					font-size: 15px
					padding: 18px 15px
					border: 1px solid #dadada
					color: $black
					&:hover
						border: 1px solid #dadada
						background: #fcfcfc
				&.active
					a
						background: white
						border-bottom-color: transparent
						&:hover
							border-bottom-color: transparent

		.tab-pane
			background: white
			border: 1px solid #ddd
			border-top: none
			padding: 2em 0
			h2
				margin-top: 20px
				font-size: 36px
				text-align: left
			p
				font-size: 16px
				line-height: 1.6
			ul
				margin: 0 0 30px 30px
				list-style-position: outside
				padding: 0
				li
					text-align: left
					font-size: 16px
					margin-bottom: 10px
			img
				display: inline-block
				margin: 60px 0 0 0
			.btn-default
				color: $blue
				&:hover
					color: lighten($blue, 10%)
			.col-sm-5
				text-align: center
			&.parking
				img
					max-width: 110%
			&.traffic
				img
					max-width: 110%
					margin-top: 45px
			&.vehicle
				img
					max-width: 110%
			&.planning
				img
					width: 320px

	.events
		h1
			margin-bottom: 1em
		img
			max-width: 330px
		ul
			overflow: auto
			li
				float: left
				width: 50%
				font-size: 18px
		.btn-default
			border: none
			background: transparent
			color: $blue
			&:hover
				border: none
				background: transparent
				color: darken($blue, 10%)
				text-decoration: underline
	.testimonials
		background: $darkGradient
		.thumbnail
			position: relative
			height: 130px
			width: auto
			display: inline-block
			border-radius: 100px
			border-color: white
			border-width: 2px
		h1
			margin-bottom: 40px
			i
				font-size: .8em
				margin: 0 8px 0 4px
		h2
			font-weight: normal
			font-size: 18px
			margin: 0 0 20px
		blockquote
			display: inline-block
			position: relative
			border-radius: 2px
			padding: 0 20px 15px
			font-family: Georgia, serif
			font-style: italic
			color: white
			border: none
			font-size: 16px
			line-height: 1.5
			margin: 0 0 30px
			clear: both
			&:before
				content: '“'
				display: inline-block
				position: relative
				font-size: 60px
				color: rgba(255, 255, 255, .2)
				line-height: 1
			small
				margin-top: 10px
				font-size: 14px
				white-space: nowrap
				font-style: normal
				font-weight: bold
				font-family: 'Open Sans', sans-serif
				color: white
				strong
					display: block
					white-space: normal
					color: $black
			img
				height: 20px
				width: auto